/* Import Arimo font */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

/* Default style */
* {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

/* Specific styles */
body {
  margin: 2em;

  background-color: #cad5d7;
}

h1 {
  color: #6d6654;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #6d6654;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #6d6654;
  font-family: Arial, Georgia;
}
